html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button, html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.pl-swatch-label::after {
  display: inline;
  font-weight: bold;
}

.text-brand {
  color: #a63c06;
}

.bg-brand {
  background-color: #a63c06;
}

.pl-swatch-label--brand::after {
  content: "#a63c06";
}

.text-dark {
  color: #882b05;
}

.bg-dark {
  background-color: #882b05;
}

.pl-swatch-label--dark::after {
  content: "#882b05";
}

.text-secondary {
  color: #297799;
}

.bg-secondary {
  background-color: #297799;
}

.pl-swatch-label--secondary::after {
  content: "#297799";
}

.text-g90 {
  color: #211c19;
}

.bg-g90 {
  background-color: #211c19;
}

.pl-swatch-label--g90::after {
  content: "#211c19";
}

.text-g80 {
  color: #393331;
}

.bg-g80 {
  background-color: #393331;
}

.pl-swatch-label--g80::after {
  content: "#393331";
}

.text-g20 {
  color: #cac5c2;
}

.bg-g20 {
  background-color: #cac5c2;
}

.pl-swatch-label--g20::after {
  content: "#cac5c2";
}

.text-g10 {
  color: #e3dedb;
}

.bg-g10 {
  background-color: #e3dedb;
}

.pl-swatch-label--g10::after {
  content: "#e3dedb";
}

.text-pos {
  color: #23b249;
}

.bg-pos {
  background-color: #23b249;
}

.pl-swatch-label--pos::after {
  content: "#23b249";
}

.text-neg {
  color: #c11526;
}

.bg-neg {
  background-color: #c11526;
}

.pl-swatch-label--neg::after {
  content: "#c11526";
}

.text-neut {
  color: #d75c08;
}

.bg-neut {
  background-color: #d75c08;
}

.pl-swatch-label--neut::after {
  content: "#d75c08";
}

.font-secondary {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Solarized Dark 

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/
.highlight {
  background-color: #002b36;
  color: #93a1a1;
}

.highlight .c {
  color: #586e75;
}

/* Comment */
.highlight .err {
  color: #93a1a1;
}

/* Error */
.highlight .g {
  color: #93a1a1;
}

/* Generic */
.highlight .k {
  color: #859900;
}

/* Keyword */
.highlight .l {
  color: #93a1a1;
}

/* Literal */
.highlight .n {
  color: #93a1a1;
}

/* Name */
.highlight .o {
  color: #859900;
}

/* Operator */
.highlight .x {
  color: #cb4b16;
}

/* Other */
.highlight .p {
  color: #93a1a1;
}

/* Punctuation */
.highlight .cm {
  color: #586e75;
}

/* Comment.Multiline */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #586e75;
}

/* Comment.Single */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
.highlight .gd {
  color: #2aa198;
}

/* Generic.Deleted */
.highlight .ge {
  color: #93a1a1;
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: #dc322f;
}

/* Generic.Error */
.highlight .gh {
  color: #cb4b16;
}

/* Generic.Heading */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
.highlight .go {
  color: #93a1a1;
}

/* Generic.Output */
.highlight .gp {
  color: #93a1a1;
}

/* Generic.Prompt */
.highlight .gs {
  color: #93a1a1;
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
  color: #cb4b16;
}

/* Generic.Subheading */
.highlight .gt {
  color: #93a1a1;
}

/* Generic.Traceback */
.highlight .kc {
  color: #cb4b16;
}

/* Keyword.Constant */
.highlight .kd {
  color: #268bd2;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #268bd2;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #dc322f;
}

/* Keyword.Type */
.highlight .ld {
  color: #93a1a1;
}

/* Literal.Date */
.highlight .m {
  color: #2aa198;
}

/* Literal.Number */
.highlight .s {
  color: #2aa198;
}

/* Literal.String */
.highlight .na {
  color: #93a1a1;
}

/* Name.Attribute */
.highlight .nb {
  color: #B58900;
}

/* Name.Builtin */
.highlight .nc {
  color: #268bd2;
}

/* Name.Class */
.highlight .no {
  color: #cb4b16;
}

/* Name.Constant */
.highlight .nd {
  color: #268bd2;
}

/* Name.Decorator */
.highlight .ni {
  color: #cb4b16;
}

/* Name.Entity */
.highlight .ne {
  color: #cb4b16;
}

/* Name.Exception */
.highlight .nf {
  color: #268bd2;
}

/* Name.Function */
.highlight .nl {
  color: #93a1a1;
}

/* Name.Label */
.highlight .nn {
  color: #93a1a1;
}

/* Name.Namespace */
.highlight .nx {
  color: #93a1a1;
}

/* Name.Other */
.highlight .py {
  color: #93a1a1;
}

/* Name.Property */
.highlight .nt {
  color: #268bd2;
}

/* Name.Tag */
.highlight .nv {
  color: #268bd2;
}

/* Name.Variable */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
.highlight .w {
  color: #93a1a1;
}

/* Text.Whitespace */
.highlight .mf {
  color: #2aa198;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #2aa198;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #2aa198;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #2aa198;
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #586e75;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198;
}

/* Literal.String.Char */
.highlight .sd {
  color: #93a1a1;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198;
}

/* Literal.String.Double */
.highlight .se {
  color: #cb4b16;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #93a1a1;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #2aa198;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198;
}

/* Literal.String.Other */
.highlight .sr {
  color: #dc322f;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198;
}

/* Literal.String.Single */
.highlight .ss {
  color: #2aa198;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268bd2;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #268bd2;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
.highlight .il {
  color: #2aa198;
}

/* Literal.Number.Integer.Long */
.text-center {
  text-align: center;
}

.block-center {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.u-divider {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 5rem;
  min-width: 50%;
  max-width: 80%;
  border-top: 0.125rem solid rgba(57, 51, 49, 0.25);
  border-bottom-width: 0;
}

.disabled {
  opacity: .7;
}

* {
  margin: 0;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  box-sizing: border-box;
}
* + * {
  margin-top: 1.25em;
}

body,
br,
li,
dt,
dd,
th,
td,
option {
  margin-top: 0;
}

html {
  background: #fff;
  color: #393331;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-size: 1.125rem;
}

h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
h6 {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: inline-block;
}

h1,
.h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

blockquote {
  padding: 1em;
  border-left: 5px #297799 solid;
  background-color: #a7d4e7;
  font-size: 1.25rem;
}

table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
@media (max-width: 1100px) {
  table {
    display: inline-block;
    overflow-x: scroll;
  }
}

td,
th {
  padding: .5em 1em;
  border: 1px solid rgba(57, 51, 49, 0.25);
  text-align: left;
}

pre {
  padding: 1em;
  background-color: #a63c06;
  color: #e3dedb;
}

dt {
  font-weight: bold;
}

ol,
ul {
  padding-left: 1.5rem;
  list-style-position: outside;
}

hr {
  border: 0;
  border-top: 1px solid rgba(57, 51, 49, 0.25);
}

a {
  color: #297799;
  text-decoration-style: dashed;
}
a:hover, a:active, a:focus {
  color: #1d5372;
  text-decoration-style: solid;
}
.t-primary a,
.t-secondary a,
.t-dark a {
  color: inherit;
}
.t-primary a:hover,
.t-secondary a:hover,
.t-dark a:hover {
  outline: 1px solid currentColor;
  text-decoration-line: none;
}

iframe,
img,
embed,
object,
video {
  max-width: 100%;
}

img[align=left] {
  margin-right: 3%;
}

img[align=right] {
  margin-left: 3%;
}

p img:only-child {
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: 1px rgba(57, 51, 49, 0.25) solid;
}

label,
input,
textarea,
select {
  display: block;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select {
  padding: .5em;
  border: 1px solid #cac5c2;
  font-size: inherit;
}

.text--right {
  text-align: right;
}

.text--small {
  font-size: 80%;
}

.meta {
  font-size: 80%;
  letter-spacing: .1em;
}

.l-container {
  max-width: 64rem;
}
.l-container, .l-container--demo {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  width: 100%;
  max-width: 64rem;
}
.l-container--demo p,
.l-container--demo h1,
.l-container--demo h2,
.l-container--demo h3,
.l-container--demo h4,
.l-container--demo h5,
.l-container--demo h6 {
  margin-right: auto;
  margin-left: auto;
  max-width: 42rem;
}

.l-single-col {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 42rem;
}

.l-list-inline {
  padding: 0;
  list-style: none;
}
.l-list-inline a,
.l-list-inline li {
  display: inline-block;
}
.l-list-inline li:not(:first-of-type) {
  margin-left: 0.625rem;
}
.l-list-inline svg {
  width: 2rem;
  height: 2rem;
  padding: .25rem;
  fill: currentColor;
}

.l-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.l-flush {
  margin-top: 0;
}

.l-listing > * + * {
  padding-top: 1.25rem;
  border-top: 0.0625rem solid rgba(57, 51, 49, 0.25);
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}
body > header,
body > footer {
  flex-grow: 0;
}
body > main {
  flex-grow: 1;
}

.banner {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.banner--header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 53.125em) {
  .banner--header {
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
  }
}

button,
input[type="submit"],
.btn {
  display: inline-block;
  padding: .5em .75em;
  border: 1px solid;
  border-radius: .3em;
  background-color: #fff;
  color: #297799;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}
button:hover, button:active, button:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
.btn:hover,
.btn:active,
.btn:focus {
  border: 1px solid #297799;
  background: #297799;
  color: #fff;
  text-decoration: none;
}

iframe {
  border: 0;
}

.embed-container {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.embed-container--tall {
  padding-bottom: 75%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 37.5em) {
  .feature {
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }
}
@media (min-width: 37.5em) {
  .feature .feature__image,
  .feature .feature__description {
    width: calc(50% - 1.25rem);
    width: 48%;
    margin-right: 1.25rem;
  }
  .feature .feature__image:nth-of-type(-n+2),
  .feature .feature__description:nth-of-type(-n+2) {
    margin-top: 0;
  }
  .feature .feature__image:last-child,
  .feature .feature__description:last-child {
    margin-right: 0;
  }
}

.thumbnail--large {
  border: 1px solid #cac5c2;
}

@media (min-width: 20em) {
  .logo--name-icon {
    display: inline-flex;
    align-items: center;
    height: 6.25rem;
  }
}

.logo-icon {
  min-width: 6.25rem;
}
.logo--name-icon .logo-icon {
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-height: 6.25rem;
}
@media (min-width: 20em) {
  .logo--name-icon .logo-icon {
    margin-right: 0;
    margin-left: 0;
    display: inline-block;
    min-width: 0;
    max-height: 100%;
  }
}

.logo__outer {
  fill: #d75c08;
}
.t-primary .logo__outer,
.t-secondary .logo__outer,
.t-dark .logo__outer {
  fill: #393331;
}

.logo__inner {
  fill: #393331;
}
.t-primary .logo__inner,
.t-secondary .logo__inner,
.t-dark .logo__inner {
  fill: #fff;
}

.logo--name-icon .logo__name {
  display: block;
  margin-top: 0;
}
@media (min-width: 20em) {
  .logo--name-icon .logo__name {
    display: inline-block;
    margin-left: 1rem;
  }
}

.nav--primary {
  text-align: center;
}
@media (min-width: 37.5em) {
  .nav--primary {
    text-align: initial;
  }
}
@media (min-width: 53.125em) {
  .nav--primary {
    margin-top: 0;
  }
}

.t-primary,
.t-secondary,
.t-dark {
  color: #fff;
}

.t-primary {
  background-color: #a63c06;
}

.t-secondary {
  background-color: #297799;
}

.t-dark {
  background-color: #211c19;
}

.t-gray {
  background-color: #e3dedb;
}

/*# sourceMappingURL=style.css.map */
