<ul class="sg-colors">
	<li class="text-brand">
		<span class="sg-swatch bg-brand" ></span>
		<span class="sg-label">
			$color-primary <br />
			<span class="pl-swatch-label pl-swatch-label--brand"></span>
		</span>
	</li>
  <li class="text-dark">
		<span class="sg-swatch bg-dark" ></span>
		<span class="sg-label">
			$color-dark <br />
			<span class="pl-swatch-label--dark pl-swatch-label"></span>
		</span>
	</li>
  <li class="text-secondary">
		<span class="sg-swatch bg-secondary" ></span>
		<span class="sg-label">
			$color-secondary <br />
			<span class="pl-swatch-label--secondary pl-swatch-label"></span>
		</span>
	</li>
</ul>
