<header>
  <div class="t-gray">
    <div class="l-container banner--header">
      {{> molecules-logo-name }}
      {{> molecules-primary-nav }}
    </div>
  </div>
  <div class="t-secondary l-flush">
    <div class="l-container l-center">
        {{> molecules-icons-social }}
    </div>
  </div>
</header>
